VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:you@example.com
API_TOKEN=
DRRDRR_BASE_URL=https://drrdrr.vercel.app
DRRDRR_VAPID_PUBLIC_KEY=
DRRDRR_API_TOKEN=
DRRDRR_SUBSCRIPTION_FILE=./subscription.json
